<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="WixExample" Language="1033" Version="1.0.0.0" Manufacturer="Al Zadid Yusuf" UpgradeCode="699658f9-b940-4e68-ada6-9b3ecf2aa004">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="WixExample" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="WixExample" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ExampleDesktop.exe" Guid="0af11548-a6e6-444f-bd27-83d950df71d5" >
        <File Id="ExampleDesktop.exe" Name="ExampleDesktop.exe" Source="C:\Users\Asus\source\repos\ExampleDesktop\ExampleDesktop\bin\Debug\ExampleDesktop.exe"></File>
      </Component>
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
